<template>
  <div class="Home_box">
    <el-container>
  <el-header>
    <div class="LoogBox">
       <div class="loog"></div>
       <h3>北京八维研修学院</h3>
    </div>
   
    
 
    <el-dropdown trigger="click">
      <span class="el-dropdown-link">
       用户<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item >个人信息</el-dropdown-item>
        <el-dropdown-item >修改信息</el-dropdown-item>
        <el-dropdown-item >退出</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

  </el-header>
  <el-container>
    <el-aside width="200px">
       <el-menu
      default-active="2"
      class="el-menu-vertical-demo"

      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-submenu index="1">
        <template slot="title">
          <span>试题管理</span>
        </template>
        <el-menu-item-group>
              <el-menu-item index="1-1">
              <router-link to="/home/insertQuestionsType" tag="span">添加试题</router-link> 
              </el-menu-item>

        <el-menu-item index="1-2">
            <router-link to="/home/getQuestionsType" tag="span">分类试题</router-link>
            </el-menu-item>

        <el-menu-item index="1-3">
            <router-link to="/home/questions/condition" tag="span">试题查看</router-link> 
        </el-menu-item>

        </el-menu-item-group>
      </el-submenu>

       <el-submenu index="2">
        <template slot="title">
          <span>用户管理</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="2-1">
           <router-link to="/home/Adduser" tag="span">添加用户</router-link>
            </el-menu-item>

          <el-menu-item index="2-2">
          <router-link to="/home/Showuser" tag="span">用户展示</router-link>
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>

       <el-submenu index="3">
        <template slot="title">
          <span>考试管理</span>
        </template>
        <el-menu-item-group>

          <el-menu-item index="3-1">
          <router-link to="/home/Addtext" tag="span">添加考试</router-link>
          </el-menu-item>

          <el-menu-item index="3-2">
          <router-link to="/home/textlist" tag="span">试卷列表</router-link>
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>

        <el-submenu index="4">
        <template slot="title">
          <span>班级管理</span>
        </template>
        <el-menu-item-group>

          <el-menu-item index="4-1">
          <router-link to="/home/setClassses" tag="span">班级管理</router-link> 
          </el-menu-item>
          <el-menu-item index="4-2">
          <router-link to="/home/room" tag="span">教室管理</router-link>  
          </el-menu-item>
           <el-menu-item index="4-3">
           <router-link to="/home/student" tag="span">学生管理</router-link>  
           </el-menu-item>
        </el-menu-item-group>
      </el-submenu>

        <el-submenu index="5">
        <template slot="title">
          <span>阅卷管理</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="5-1">
          <router-link to="/home/await" tag="tag">待批班级</router-link>  
          </el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
    </el-aside>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</el-container>
  </div>
</template>

<script>
// import cookie from 'js-cookie'
export default {
  name: 'home'
  // data(){
  //   return{
  //     username:''
  //   }
  // },
  // created() {
  //   let userInfo = cookie.get('userinfo')
  //   username = JSON.parse(userInfo)
  //   console.log(username)
  // }
}
</script>

<style lang="scss">
.el-header,
.el-footer {
  background-color: #fff;
  color: #333;
  line-height: 60px;
}

.el-aside {
  background-color: #545c64;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.Home_box {
  width: 100%;
  height: 100%;
}
.el-container {
  height: 100%;
}
.loog {
  width: 30px;
  height: 30px;
  background: url('../../assets/QQ图片20200107082800.png');
  float: left;
  margin-top: 12px;
}
.el-dropdown {
  float: right;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}
.LoogBox {
  float: left;
}
</style>