<template>
<div class="box">
<div class="Login-box">
 <el-input placeholder="请输入内容"  v-model="username" clearable></el-input>
<el-input placeholder="请输入密码" v-model="password" show-password></el-input>
  <el-button type="primary" plain @click="login">登陆</el-button>
</div>

</div>

</template>

<script>
import Ajax from '@/util/axios.js'
import cookie from 'js-cookie'
export default {
  data(){
     return {
       username: '',
       password:''
      }
   },
   methods:{
     login(){
       if(!this.username && !this.password){
         alert('内容不能为空')
       }else{
         Ajax.post('/user/login',{user_name:this.username,user_pwd:this.password}).then(res=>{
           console.log(res)
           if(res.data.code === 1){
             cookie.set('token',res.data.token)
             cookie.set('userinfo',{username:this.username,password:this.password})
             this.$router.push('/home')
           }
         })
       }
     }
   }
}

</script>
<style lang="scss">

.box{
  width: 100%;
  height: 100%;
  background: url("../../../public/53816.jpg")
}
.Login-box{
  background: rgba(61, 61, 60, 0.4);
  width: 400px;
  height: 300px;
  float: right;
  padding:50px;
  margin-right:100px;
  margin-top:500px;
}
input{
  margin-bottom:20px;
}
button{
  width: 100%;
}
</style>
